# Database Configurations
DATABASE_URL=postgresql://bankadmin:BankPassword123@localhost:5432/securebank
REPLICA_DATABASE_URL=postgresql://bankadmin:BankPassword123@localhost:5433/securebank
MONGO_URL=mongodb://mongoadmin:MongoPassword123@localhost:27017

# Security
SECRET_KEY=replace-with-a-secure-secret-key
JWT_SECRET_KEY=replace-with-a-secure-jwt-key

# App Settings
DEBUG=True
PORT=5000
